body {
    background: rgb(5, 5, 5);
}

.menu-horizontal {
    background-color: rgb(1, 11, 47);
    border-radius: 0px 0px 15px 15px;
    border-bottom: 2px solid #636363;
}


.dashboard-infos-user-info {
    background-color: rgb(8, 5, 21);
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 62px;
    margin-bottom: 420px;
    border: 2px solid #636363;
}

/*#dashboard-user-avatar {
    border-radius: 50%;
    Updated border-radius for a circle 
    width: 90px;
    height: 90px;
    border: 2px solid #bababa;
    margin-left: 5px;
}*/

#dashboard-user-name {
    margin-bottom: 5px;
    /* Adjusted margin for better spacing */
}

.dashboard-infos-plan {
    list-style: none;
    /* Removed default list styles */
    padding: 0;
    /* Removed default padding */
    text-align: center;
    /* Centered text */
}

.dashboard-infos-plan li {
    margin-bottom: 10px;
    /* Adjusted margin for better spacing */
}




/* Dashboard tamanaho celular mais especifico tamanho do iphone 14*/
@media (min-width: 390px) {
    .dashboard-infos-user-info {
        width: 90%;
        height: 80%;
    }
    #dashboard-user-avatar {
        height: 75px;
        width: 75px;
        border: 2px solid #bababa;
        border-radius: 20px;
    }
}


@media (min-width: 576px) {
    .dashboard-infos-user-info {
        width: 70%;
    }
    #dashboard-user-avatar {
        height: 100px;
        width: 100px;
        border: 2px solid #bababa;
        border-radius: 15px;
    }
}

@media (min-width: 768px) {
    .dashboard-infos-user-info {
        width: 70%;
    }
    #dashboard-user-avatar {
        height: 87px;
        width: 87px;
        border: 2px solid #bababa;
        border-radius: 40px;
    }
    .dashboard-user-name-infos {
        margin-top: -80px;
        margin-left: 62px;
        color: #cfcdcd;
        font-weight: 570;
        list-style: none;
    }
    .dashboard-user-name-infos-plano {
        margin-top: -120px;
        margin-left: 465px;
    }
    .dashboard-user-name-infos-plano-infos {
        font-size: large;
        list-style: none;
    }
    .dashboard-user-name-infos-acao {
        margin-top: -125px;
        margin-left: 825px;
    }
}


@media (min-width: 1400px) {
    .dashboard-infos-user-info {
        width: 90%;
        height: 50%;
    }
}

.dashboard-infos-h1 {
    margin: 0;
    color: #a4a1a1;
    font-weight: 770;
    text-align: center;
}



.dropdown-menu {
    background: rgb(6, 3, 17);
    border: 2px solid #575656;
    border-radius: 15px;
    color: #fff;
}

.planos-h1-planos {
    text-align: center;
    color: #cfcdcd;
}

.planos {
    align-items: center;
    margin-top: 105px;
    margin-bottom: 160px;
}

.planos-container {
    background-color: rgb(19, 19, 19);
    border: 2px solid rgb(22, 38, 95);
    border-radius: 15px;
    color: #fff;
    height: 380px;
    width: 300px;
    margin-bottom: 18px;
    margin-right: 20px;
    text-decoration: none;
}

.plan-h2 {
    font-weight: 550;
    text-align: center;
    color: #cfcdcd;
}

.description-plan {
    margin-bottom: -12px;
    margin-left: 10px;
    color: rgb(177, 174, 174);
}

.description-plan:hover {
    color: rgb(177, 174, 174);
}

.icon-plan {
    color: green;
    font-size: 25px;
    margin: 0px;
    margin-bottom: 0px;
}

.planos-comprar {
    width: 270px;
}

/*modal Planos*/
.modal-content {
    background: rgb(19, 19, 19);
    height: 380px;
    width: 400px;
    border: 2px solid rgb(22, 38, 95);
}

.modal-content-update {
    background: rgb(19, 19, 19);
    height: 380px;
    width: 505px;
    border: 2px solid rgb(22, 38, 95);
}

.btn-close {
    background-color: #fff;
}

.btn-primary {
    width: 110px;
    background: rgb(22, 38, 95);
    margin-right: 104px;
    margin-bottom: 40px;

}

.dashboard-user-name-infos-botoes {
    list-style: none;
    
}



.userinfos-container {
    background: #0c0c0c;
    border: 2px solid rgb(22, 38, 95);
    width: 500px;
    height: 900px;
    border-radius: 15px;
}

.user-update-aplication {
    height: 450px;
    width: 870px;
    background: rgb(19, 19, 19);
    border: 2px solid rgb(22, 38, 95);
    margin-top: 163px;
    margin-bottom: 163px;
    border-radius: 15px;
}

/* foorter de todas as Parginas*/
.foorter {
    background-color: rgb(1, 11, 47);
    width: 100%;
    height: 190px;
    margin-bottom: 0px;
    border-radius: 15px 15px 0px 0px;
    border-top: 2px solid #636363;
}