@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&display=swap');

@font-face {
    font-family: 'NotoSans';
    src: url('./notosans-400-normalitalic.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

body {
    background: rgb(7, 8, 8);
    margin: 0px;
    padding: 0px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
}

body::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.1825105042016807) 0%, rgba(35, 38, 53, 0.8) 100%);
}




h3 {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background: rgba(6, 112, 233, 0.554);
    height: 75px;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.navbar-nav {
    margin-left: auto;
}

.nav-item {
    margin-right: 15px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav-link.disabled {
    color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
}

.bi {
    height: 30px;
    fill: #0f0f0f;
}

#logo {
    width: 90px;
    height: 90px;
    margin-left: 30%;
}

.enter-account-discord {
    background-color: rgb(5, 41, 89);
    border: 2px solid rgb(20, 56, 131);
    color: rgb(228, 228, 231);
    padding: 8px 20px;
    font-size: 16px;
    border-radius: 7px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.enter-account-discord:hover {
    background-color: rgb(20, 56, 131);
}

.index-dashbord {
    margin-left: 45%;
    margin-bottom: 16%;
    background: rgb(5, 41, 89);
    width: 150px;
    height: 45px;
    border: none;
    border-radius: 10px;
}

.alert {
    height: 40px;
}

.bi {
    height: 30px;
}

.container {
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 20px;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.dashbord-space {
    margin-top: 10%;
    margin-bottom: 18%;
}

.dashbord-user {
    background: rgba(4, 61, 26, 0.878);
    border-radius: 10px 10px 0px 0px;
    color: rgb(235, 235, 235);
    height: 105px;
}

.dashbord-avatar {
    width: 90px;
    height: 90px;
    margin-top: 0.60%;
    margin-left: 1%;
    border-radius: 900px;
}

.dashbord-infos {
    margin-top: -7%;
    margin-left: 8.50%;
    font-size: larger;
    font-weight: 570;
}

.dashbord-name {
    font-weight: 580;
    color: rgba(4, 120, 253, 0.885);
    margin: 0;
    padding: 0;
}

.dashboard-plan {
    list-style-type: none;
    display: flex;
    margin-top: -6%;
    margin-left: 20.2%;
    font-size: 95%;
}

.dashboard-plan-info {
    margin-right: 30px;
    color: rgb(228, 228, 231);
}

.dashbord-apps {
    width: 100%;
    height: 300px;
    background-color: rgb(11, 10, 10);
}

.dashbord-apps-title {
    padding-top: 10px;
    margin-left: 1%;
    font-weight: 500;
    color: #cacaca;
}

.dashboard-applications-get {
    width: 97.7%;
    height: 40px;
    margin-top: -5px;
    margin-left: 1%;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: rgb(16, 18, 24);
    font-size: 19px;
    color: #FFF;
}

.dashbord-apps-info {
    width: 310px;
    height: 170px;
    margin-top: 1.50%;
    margin-left: 1%;
    border-radius: 10px;
    background-color: rgb(16, 18, 24);
}

.dashbord-apps-info2 {
    width: 310px;
    height: 170px;
    margin-top: -13.10%;
    margin-left: 25.50%;
    border-radius: 10px;
    background-color: rgb(16, 18, 24);
}

.dashbord-apps-info3 {
    width: 310px;
    height: 170px;
    margin-top: -13.10%;
    margin-left: 50.30%;
    border-radius: 10px;
    background-color: rgb(16, 18, 24);
}

.dashbord-apps-info4 {
    width: 310px;
    height: 170px;
    margin-top: -13.10%;
    margin-left: 75%;
    border-radius: 10px;
    background-color: rgb(16, 18, 24);
}

#logo {
    width: 90px;
    height: 90px;
}

.dashboard-apps-busca {
    margin-top: -3%;
    margin-left: auto;
    margin-right: 0.70%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.dashboard-apps-buttons {
    background: rgb(18, 23, 31);
    width: 70px;
    height: 35px;
    color: rgb(228, 228, 231);
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.footer {
    width: 100%;
}

.footer-content {
    display: flex;
    height: 200px;
    background-color: rgba(6, 112, 233, 0.554);
}

.footer-conta {
   margin-left: 32%;
}

.footer-title {
    color: rgb(228, 228, 231);
    margin: 0;
    margin-top: 40px;
    margin-right: 32px;
    font-size: 20px;
}

.footer-opcoes {
    list-style-type: none;
    margin-top: 40px;
    margin-right: 20px;
    margin-left: -18%;
}

.footer-opcoes-c {
    margin-top: 30px;
    color: #bebaba;
    text-decoration: none;
}

.dashboard-apps-dash {
    width: 928px;
    height: 460px;
    background-color: rgb(18, 23, 31);
    border-radius: 15px;
    margin-left: 32%;
    margin-bottom: 84px;
    color: #fff;
}

.dashboard-apps-infos {
    background-color: rgb(18, 23, 31);
    color: rgb(186, 187, 191);
    width: 260px;
    height: 44px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}

.dashboard-apps-img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-left: 18%;
}

.dashboard-apps-infos-t {
    margin-bottom: -271px;
    margin-left: 290px;
    list-style-type: none;
}

#title-CloudCart {
    color: #fff;
    margin: 0%;
    margin-top: 220px;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}

#plataforma {
    color: rgb(37, 99, 235);
    font-size: 35px;
    text-align: center;
    margin: 0%;
    margin-bottom: 15px;
}

#description-title {
    color: rgb(113, 113, 122);
    text-align: center;
    margin-top: 0px;
    font-size: 20px;
}

.container-plans {
    margin-top: 5%;
    background: rgb(21, 21, 21);
    height: 90px;
    width: 105em;
    border-radius: 12px;
    margin-left: 5%;
    box-shadow: 0 0 20px rgba(37, 100, 235, 0.561); 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#plans {
    color: #114cac;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.plans-container-wrapper {
    display: flex; 
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 8.20%;
}

.plans-container {
    background: rgba(25, 25, 25, 0.745);
    height: 380px;
    width: 320px;
    border-radius: 15px;
    margin-right: 20px;
    box-shadow: 0 0 17px rgba(37, 100, 235, 0.561); 
}

.plans-ul {
    list-style: none;
}

.plans-li-t {
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 250px;
    border-radius: 7px;
    text-align: center;
}

#plans-mercury {
    color: #ffd700;
}
#plans-venus {
    color: #32cd32;
}
#plans-mars {
    color: #ff4500;
}
#plans-jupiter {
    color: #8c12e7;
}
#plans-saturn {
    color: #e27527;
}

.plans-li {
    color: #d6d3d3;
    font-weight: 570;
    margin-bottom: -12px;

}

.bi-check {
    color: #256e03;
    font-size: 30px;
}

#plan-bravery {
    width: 250px;
    border-radius: 5px;
    margin-top: 5px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
}

.plans-li-button {
    width: 250px;
    height: 40px;
    background: #2c8304b5;
    color: #fff;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
}
