<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>EvoHosting - Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>

    <div class="dashboard-apps">
        <div>
            <img class="dashboard-apps-img"
                src="https://cdn.discordapp.com/attachments/1156052556531912795/1156053680240476160/logo_para_aprovacao-byfront_2.png?ex=6514e3e3&is=65139263&hm=afdf2243249b419cd401b577c45484f691189a96acc844a9b152f7228217f32f&"
                alt="">
            <h1>EvoBots Suporte</h1>
            <p>65543b903ed44f2abcc0c38ff93ce971 (FL-HASWELL-F-1)</p>
        </div>
        <div>
            <ul class="dashboard-apps-infos-t">
                <li class="dashboard-apps-infos">Uptime</li>
                <li class="dashboard-apps-infos">CPU</li>
                <li class="dashboard-apps-infos">RAM</li>
                <li class="dashboard-apps-infos">Network (total)</li>
                <li class="dashboard-apps-infos">Network (now)</li>
            </ul>
        </div>
    </div>

    <div class="dashboard-apps-dash">
    </div>
    
</body>
</html>